@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer base {
  /* remove touch callout */
  * {
    -webkit-tap-highlight-color: transparent;
  }

  /* Touch action manipulation on anything interactive */
  a,
  button,
  input,
  textarea,
  select,
  details,
  summary {
    touch-action: manipulation;
  }

  /* Disable user select for most things by default */
  * {
    user-select: none;
    cursor: default;
  }
}

@layer utilities {
  .ellipsis {
    @apply whitespace-nowrap text-ellipsis overflow-hidden min-w-0;
  }

  /* Safe area padding */
  .pt-safe {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  .pr-safe {
    padding-right: constant(safe-area-inset-right);
    padding-right: env(safe-area-inset-right);
  }

  .pb-safe {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pl-safe {
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
  }

  .pt-nav {
    padding-top: calc(constant(safe-area-inset-top) + 64px);
    padding-top: calc(env(safe-area-inset-top) + 64px);
  }
  .button-main:before {
    content: "";
    background: linear-gradient(
      45deg,
         #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .button-secondary:before {
    content: "";
    background: linear-gradient(
      45deg,
         #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .button-main {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: #F8F8FF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
.button-main:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-secondary:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}
  @keyframes glowing-button-main {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .button-secondary {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: #F8F8FF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
.button-secondary:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

  @keyframes glowing-button-secondary {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .pb-nav {
    padding-bottom: calc(constant(safe-area-inset-bottom) + 44px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 44px);
  }

  .animate-in {
    animation: animate-in 0.25s ease-out;
  }

  .animate-up {
    animation: animate-up 0.25s ease-out;
  }

  .animate-up-delayed {
    --anim-duration: 0.25s;
    animation: animate-up var(--anim-duration) ease-out;
  }
}

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animate-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}